{% extends 'base.html' %}
{% block tittle %}Adciona{% endblock%}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-primary" type="submit">Adicionar</button>
</form>
{% endblock %}