{% extends 'base.html' %}
{% block tittle %}Agenda{% endblock%}
{% block content %}
<a href="{% url "vista_adiciona_agenda" %}" class="btn"><i class="icon-plus"></i> Agendar</a><br><br><br>	
		
<ul>
{% if agenda %}
	{% for a in agenda %}
		<p>{{a.data}}</p>
		<p>{{a.hora}}</p>
		<p>{{a.titulo}}</p>
		<p>{{a.descricao}}</p>
	{% endfor %}
{% else %}
    <h2> vazio</h2>
{% endif %}   	
</ul>
{% endblock %}
