{% extends 'base.html' %}
{% block tittle %}Contatos{% endblock%}
{% block content %}
<br>
{% if info_enviado %}
	Obrigado por enviar un comentario, logo entraremos em contato contigo.
	<br>
	A informacao recebida foi<br>
	<p>Email utilizado: {{email}}</p>
	<p> Titulo: {{titulo}}</p>
	<p> Texto Citado: </p><br> <h3>{{texto}}<h3>
{% else %}
	<form action="." method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-primary" type="submit">Enviar Comentário</button>
	
{% endif %}
{% endblock %}
