{% extends 'base.html' %}
{% block tittle %} Inicio - Bem vindos {% endblock %}
{% block content %} 
<br> <p>Está é a minha primeira página</p>
{% if user.is_authenticated %}
	<p>Olá {{ user.username }}!</p>
	{% if user.get_profile.photo %}
	    <img src="/media/{{ user.get_profile.photo}}" width="100px" height="100px"/>
	{% endif %}	
{% endif %}		
{% endblock %}