{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<form action="." method="POST">
	{% csrf_token %}
	{{ mensaje }}
	{{ form.as_p }}
	{% if next%}
		<input type="hidden" value="{{next}}" name="next">
	{% else %}
		<input type="hidden" value="/" name="next">
	{% endif %}
	<button class="btn btn-primary" type="submit">Acessar</button>
	<h5>Registre-se <a href="/registro/">aqui</a></h5>
</form>

{% endblock %}