{% extends 'base.html' %}
{% block tittle %}Produtos{% endblock%}
{% block content %}

<!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Producto</h3>
    </div>
    <div class="modal-body">
    <p>Deseja realmente eliminar esse produto <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto" name="product_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancela</button>
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
    </div>
</div>
<!--EndModal-->

<h1>Produtos</h1>
<br>
{% if user.is_authenticated %}
	<a href="{% url "vista_agregar_producto" %}" class="btn"><i class="icon-plus"></i> Novo</a><br>	
{% endif %}
<br>
{% if produtos %}
	<table class="table table-hover" id="tabla_productos">
		<theader>
			<tr>
				<th>Produto</th>
				<th>Preço</th>
				<th>Estoque</th>	
			</tr>
		</theader>
	{% for p in produtos %}
		<tbody>
			<tr id="tr{{p.id}}">
				<td>{{p.nome}}</td>
				<td>{{p.preco}}</td>
				<td>{{p.stock}}</td>
				<td><a class="btn" href="/producto/{{p.id}}"><li class="icon-search"></li>Ver</a></td>
				<td><a class="btn" href="#"><li class="icon-shopping-cart"></li>Comprar</a></td>
				{% if user.is_authenticated and user.is_staff %}
					<td><a class="btn" href="/edit/producto/{{p.id}}"><li class="icon-pencil"></li>Editar</a></td>
					<td><a href="#myModal" role="button" class="btn btn-danger delete" data-toggle="modal" id="{{p.id}}" data-name="{{p.nome}}"><i class="icon-trash icon-white"></i>Excluir</a></td>
				{% endif %}
			</tr>
		</tbody>
	{% endfor %}
	</table>
{% else %}
	<h2> Nao existem produtos ativos</h2>	
{% endif %}	
<br><br><br>
{% if produtos %}
	<div class="pagination">
		<ul>
			<li><a href="/productos/page/1"><<</a></li>
			{% if produtos.has_previous %}
				<li><a href="/productos/page/{{produtos.previous_page_number}}">Prev</a></li> 
			{% else %}
			<li><a href="#">Prev</a></li>
			{% endif %}
			{% if produtos.has_next %}
			<li><a href="/productos/page/{{produtos.next_page_number}}">Next</a></li>	
			{% else %}
			<li><a href="#">Next</a></li>	
			{% endif %}
			<li><a href="/productos/page/{{produtos.paginator.num_pages }}">>></a></li> 	
		</ul>
	</div>
		
	<h4> Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}</h4>		
{% endif %}		
{% endblock %}