{% extends "base.html" %}
{% block title %} Registro {% endblock %}
{% block content %}
<form action="." method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary" type="submit"> Registrar </button>
	
</form>

{% endblock %}