{% extends 'base.html' %}
{% block tittle %}Produto {{produto.nome}} {% endblock%}
{% block content %}
<div class="row">
	<div class="span7">
		<h5>Categoria:</h5>
		{% for cat in categorias %}
			<span class="label label-info">{{cat.nome}}</span>
		{% endfor %}
		<br><br>
		<img src="/media/{{ produto.imagen }}" width="550px" heigth="550px"/>
	</div>
	<div class="span5">
		<br><br><br><br>
		<p>Modelo: {{produto.nome}}</p>
		<p>Descrição: {{produto.descricao}}</p>
		<p>R$ {{produto.preco}}</p>
		<p>Quantidade em estoque: {{produto.stock}} Unidades</p>
		<br><br>
		{% if produto.stock > 0 %}
			<a href="#" class="btn btn-primary">Comprar</a>
		{% endif %}
		<a href="javascript:window.history.go(-1)" class="btn btn-primary">Voltar para a lista</a>
	</div>
</div>
{% endblock %}