{% extends "base.html" %}
{% block title %} Registro {% endblock %}
{% block content %}
<h2> Obrigado por registra-se!!! </h2>
<a href="/login/" class="btn btn-primary"> Iniciar Sesion </a>
{% endblock %}