{% extends 'base.html' %}
{% block tittle %} Adicionando Produtos{% endblock%}
{% block content %}
<div class="row">
	<div class="span6">
		
		<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-small btn-primary">Salvar</button>
		<button type="reset" class="btn btn-small btn-primary">Limpar</button>
		<a href="/productos/page/1/" class="btn btn-small btn-primary">Voltar para a lista</a>
	</form>
	</div>
	<div class="span6">
		<img src="/media/{{producto.imagen}}">
	</div>
</div>
<br>
	
<br>

{% endblock %}