<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %} E-COMMERCE  {% endblock %}</title>
	<link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/media/js/jquery-2.0.3.min.js"></script>
    <script src="/media/bootstrap/js/bootstrap.js"></script>
    <script src="/media/js/jquery.form.min.js"></script>
    <script src="/media/js/demo.js"></script>
    
    <style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 40px;
       
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <script type="text/javascript">
        $(document).on('ready',function(){
              $.ajax({
                  type:"GET",
                  contentType:"application/json; charset=utf-8",
                  dateType:"json",
                  url:"/ws/productos/",
                  success:function(response){
                      var i = (response.length-1)-2;
                      for(i;i<=(response.length-1);i++){
                      $('#ProductosNuevos').append("<li>"+response[i].fields.nome+"</li>");
                  	}  
                  }
              });
        });
    </script>
</head>
<body>
<div class="navbar navbar-inverse nav-fixed-top">
	<div class="navbar-inner">
		<a class="brand" href="{% url "vista_principal" %}"> Ecommmerce</a>
		{% if user.is_authenticated %}
			<p class="navbar-text pull-right">
				Usuario: {{user.username}}
			</p>
		{% endif %}	
		<ul class="nav" id="topo">
			<li><a href="/productos/page/1/">Produtos</a></li>
			<li><a href="{% url "vista_contacto" %}">Contato</a></li>
			<li><a href="{% url "vista_about" %}">Sobre o Sistema</a></li>
			{% if user.is_authenticated and user.is_staff %}
				<li><a href="{% url "vista_agregar_producto" %}">Cadastrar Produtos</a></li>
			{% else %}
			<li><a href="{% url "vista_login" %}">Login</a></li>
			{% endif %}
			{% if user.is_authenticated %}
				<li><a href="{% url "vista_logout" %}">Sair</a></li>
			{% endif %}

		</ul>
	</div><!--inner-->
</div><!--nav-bar-->
	<div class="container-fluid">
		<div class="span9">
			<div class="row-fluid">
				<div class="hero-unit">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Meu Carrinho</li>
					<br><p align="justify">
						Carrinho
					</p>
				</ul>
			</div>
		</div>
		<div class="span3">
			<div class="well sidebar-nav">
					<ul class="nav nav-list" id="ProductosNuevos">
						<li class="nav-hearder">
							<h5>Novos produtos</h5>
						</li>
						
					</ul>
			</div>
		<img src="/media/images/ecommerce.jpg"/>
		</div>
	</div>
   <hr>
   <footer>
		<p>&copy; Reobotenet 2013</p>	
	</footer>
</body>
</html>